<ion-header>
	<ion-navbar color="primary" no-border-bottom>
		<ion-title>Notifications</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<!-- <ion-list>
	  <ion-item-sliding  #item *ngFor='let notification of notifications; trackBy: index;'>
	    <ion-item (click)="navigateTo(notification.Url)">
	    	<h2>{{notification.Title}}</h2>
	        <p>{{notification.Body}}</p>
	        <ion-note item-end>
	          {{notification.Date | date:'shortTime'}}
	        </ion-note>
	    </ion-item>
	    <ion-item-options side="right">
	      <button ion-button color="danger" (click)="removeNotification(notification)">Delete</button>
	    </ion-item-options>
	  </ion-item-sliding>
	</ion-list> -->

	<ion-row (click)="navigateTo(notification.Url)" class="bg-white wrapper-sm m-t-sm" *ngFor='let notification of notifications; trackBy: index;'>
		<ion-col col-auto>
			<ion-avatar item-start>
				<div class="thumb-sm">
						<ion-icon name="paper"></ion-icon>
				</div>
			</ion-avatar>
			<div class="text-muted text-xs text-center">{{notification.Date | timeAgo}}</div>
		</ion-col>
		<ion-col class="text-ellipsis-flex">
			<div class="l-h">
				<div class="">{{notification.Title}}</div>
				<div class="text-sm text-muted text-ellipsis">{{notification.Body}}</div>
			</div>
		</ion-col>
		<!-- <ion-col col-auto>
				<button clear ion-button (click)="removeNotification(notification)">
						<ion-icon class="text-2x text-muted" name="trash-outline"></ion-icon>
				</button>
		</ion-col> -->
	</ion-row>

</ion-content>
