<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>932619640863-bdl69rqqq1k33mv850id1366a00otaa1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932619640863-bdl69rqqq1k33mv850id1366a00otaa1</string>
	<key>API_KEY</key>
	<string>AIzaSyAJjfpQe1rDrTzYHsA4hZPqFHcnI9udP8I</string>
	<key>GCM_SENDER_ID</key>
	<string>932619640863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.powell-365.app</string>
	<key>PROJECT_ID</key>
	<string>powell-app</string>
	<key>STORAGE_BUCKET</key>
	<string>powell-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932619640863:ios:0e2e9ab2ada4df51</string>
	<key>DATABASE_URL</key>
	<string>https://powell-app.firebaseio.com</string>
</dict>
</plist>